# Values in config.lua will always change during the tas and are not valuable
config.lua

# cf README.md ; Rocks used with Bizhawk are copied in the root of the project
mediator.lua

# Rocks installed from make install
lua_modules